{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks | Connexion
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Connexion</h1>
            </div>
            <form id="loginForm" action="{{ path('app_login') }}" method="post">
                <div class="card rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="card-body">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-10">
                                <div class="form-floating mb-3">
                                    <input class="form-control"
                                        type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                        data-sb-validations="required" required/>
                                    <label for="name">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="password" name="password" id="inputPassword"
                                        class="form-control" autocomplete="current-password" required/>
                                    <label for="name">Password</label>
                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}">
                                </div>

                                <button class="btn btn-lg btn-primary mt-3" type="submit">
                                    Me connecter
                                </button>
                                <a style="" href="{{ path('app_forgot_password_request') }}"
                                class="btn btn-lg btn-secondary mt-3">Mot de passe oublié</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}

