{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}*
    <html lang="en">

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Liste des figures</h2>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">

                        {% for trick in tricks %}

                            <div class="col-lg-4 mb-5">
                                <div class="card h-100 shadow border-0">

                                    {% if trick.getImages().get(0) != null %}
                                    <img class="card-img-top" src="{{ asset('assets/uploads/tricks/') ~ trick.getImages().get(0).getImage() }}" alt="..."/>
                                        {% else %}
                                        <img class="card-img-top"
                                                                  src="{{ asset('assets/uploads/tricks/defaut.jpg')}}" alt="..."/>
                                            {% endif %}
                                    <div class="card-body p-4">
                                        <a>
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                                            <p class="card-text mb-0">{{ trick.description }}</p>
                                            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">Afficher le trick</a>
                                            {% if user != null %}
                                                <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}"><i class="bi bi-pencil-fill"></i></a>
                                                <a href="{{ path('app_trick_delete', {'slug': trick.slug}) }}" onclick="ask()"><i class="bi bi-trash" style="   "></i></a>
                                            {% endif %}
                                        </a>
                                    </div>



                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <section class="flex justify-center pt-5">
                        <div  id="voirPlusButton" class="inline-flex flex-col  justify-center font-medium px-2 bg-primary2 rounded-md lg:hover:-translate-y-1.5  lg:m-2 lg:p-2 lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2 ">
                            <a  type="button" class="inline-flex w-full flex-col items-center group">
                                <span class="text-2xl">Voir plus de résultats</span>
                            </a>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    <script>
        function ask(){
            return alert("Etes-vous sur de vouloir supprimer ce post ?");
        }
    </script>
        {% block javascripts %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const voirPlusButton = document.getElementById("voirPlusButton");
                    const hiddenElements = document.querySelectorAll(".hidden");
                    let startIndex = 5; // Vous pouvez ajuster le nombre initial d'éléments visibles

                    voirPlusButton.addEventListener("click", function() {
                        for (let i = startIndex; i < startIndex + 5 && i < hiddenElements.length; i++) {
                            hiddenElements[i].classList.remove("hidden");
                        }

                        startIndex += 4;

                        // Masquer le bouton "Voir plus" si tous les éléments sont affichés
                        if (startIndex >= hiddenElements.length) {
                            voirPlusButton.style.display = "none";
                        }
                    });
                });
            </script>
        {% endblock javascripts %}
    </body>
    </html>

{% endblock %}
