{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks | Inscription
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Inscription</h1>
            </div>
            <div class="card rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="card-body">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-10">
                            {{ form_start(registrationForm) }}
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.email) }}
                                {{ form_label(registrationForm.email) }}
                                {{ form_errors(registrationForm.email) }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.name) }}
                                {{ form_label(registrationForm.name) }}
                                {{ form_errors(registrationForm.name) }}
                            </div>

                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.plainPassword) }}
                                {{ form_label(registrationForm.plainPassword) }}
                                {{ form_errors(registrationForm.plainPassword) }}
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Créer mon
                                    compte
                                </button>
                            </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
