{{ form_start(trickForm) }}
    {{ form_row(trickForm.name) }}
     {{ form_row(trickForm.description) }}
     {{ form_row(trickForm.images) }}
     {{ form_row(trickForm.creationDate) }}
    <button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(trickForm) }}
