
{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}


{% block body %}
    <html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <style>
        #main {
            width: 92%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }


        #main div img {
            width: 200px;
            height: 150px;
            margin: 5px;
        }

        @media (min-width: 992px) {
            .media-toggle-btn {
                display: none !important;
            }
        }

        @media (max-width: 992px) {
            .media-container {
                display: none;
            }
        }

        .media-container {
            width: 92%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }

        .media-container iframe,
        .media-container img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }



        @media (min-width: 992px) {
            .media-toggle-btn {
                display: none !important;
            }
        }
    </style>

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="">
                    {{ form_start(trickForm) }}
                    {{ form_widget(trickForm._token) }}
                    <!-- Post content-->
                    <article>

                        {% if trick.images.get(0) != null %}
                        <figure class="mb-4"><img class="img-fluid rounded agrandir"
                                                  src="{{ asset('assets/uploads/tricks/') ~trick.images.get(0).getImage() }}" alt="..."/>
                            {% else %}
                            <figure class="mb-4"><img class="img-fluid rounded"
                                                      src="{{ asset('assets/uploads/tricks/defaut.jpg')}}" alt="..."/>
                                {% endif %}
                            </figure>
                            <center>
                                <button class="media-toggle-btn hidden-lg-up">Voir les médias</button>

                            </center>
                            <br/>
                            <div id="main" class="media-container">
                                <div class="media-container mobile-view">
                               {% if trick.videos is not null %}
                                    {% for video in trick.videos %}
                                        <div><iframe src="{{ video.getVideo }}" allowfullscreen></iframe></div>
                                        <form action="{{ path('delete_video', {'slug':trick.slug,'id': video.id}) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this video?')">
                                            <input type="hidden" name="_method" value="POST">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
                                            <button type="submit" class="delete-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    {% endfor %}
                                {% endif %}
                                {% if trick.images is not null %}
                                    {% for img in trick.images %}
                                        <div class="displayImage">
                                            <img class="img-fluid rounded"
                                                 src="{{ asset('assets/uploads/tricks/mini/300x300-') ~ img.getImage() }}" alt="..."/>

                                            <form action="{{ path('delete_image', {'slug': trick.slug, 'id': img.id}) }}" method="POST" class="delete-image-form" onsubmit="return confirm('Are you sure you want to delete this image?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ img.id) }}">
                                                <button type="submit" class="delete-button">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                            <!-- Post content-->
                            <div class="mb-5">
                                <p>{{ form_row(trickForm.name) }}</p>
                                <p>{{ form_row(trickForm.description) }}</p>
                                {{ form_row(trickForm.images) }}
                                {{ form_row(trickForm.idCategory) }}

                                <div id="videos-container">
                                    {{ form_errors(trickForm.videos) }}
                                    <h2>Vidéos</h2>
                                    {% for videoField in trickForm.videos %}
                                        <div class="form-group">
                                            {{ form_widget(videoField, {'attr': {'class': 'form-control'}}) }}
                                            {% if loop.index > 0 %}
                                                <button type="button" class="btn btn-danger remove-video">Supprimer</button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" id="add-video" class="btn btn-primary mt-2">Ajouter une vidéo</button>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {


                                        const videosContainer = document.getElementById('videos-container');
                                        const addVideoButton = document.getElementById('add-video');

                                        addVideoButton.addEventListener('click', function () {
                                            const videoIndex = videosContainer.querySelectorAll('.form-group').length;
                                            const newVideoField = `
                <div class="form-group">
                    <input type="text" name="trick[videos][${videoIndex}][video]" class="form-control" placeholder="Entrez l'URL de la vidéo">
                    <button type="button" class="btn btn-danger remove-video">Supprimer</button>
                </div>
            `;
                                            videosContainer.insertAdjacentHTML('beforeend', newVideoField);
                                        });

                                        document.addEventListener('click', function (event) {
                                            if (event.target.classList.contains('remove-video')) {
                                                event.target.closest('.form-group').remove();
                                            }

                                            if (event.target.classList.contains('delete-button')) {

                                                const deleteForm = event.target.closest('.delete-image-form');
                                                if (deleteForm && confirm('Etes-vou sûr de supprimer cette image?')) {
                                                    deleteForm.submit();
                                                }
                                            }
                                        });
                                    });
                                </script>
                                <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        const mediaToggleBtn = document.querySelector(".media-toggle-btn");
                                        const mediaContainer = document.querySelector(".media-container");

                                        if (mediaToggleBtn && mediaContainer) {
                                            mediaToggleBtn.addEventListener("click", function() {
                                                mediaContainer.style.display = (mediaContainer.style.display === "none") ? "block" : "none";
                                            });
                                        }
                                    });
                                </script>

                                <br/>
                                <br/>
                                <br/>
                                <br/>

                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <form action="{{ path('app_trick_delete', {'slug': trick.slug}) }}" method="post" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce trick ?')">
                                            <button type="submit" class="btn btn-warning">
                                                Supprimer le trick
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
                                    </div>
                                </div>


                            </div>
                        </figure>
                    </article>



                </div>
                {{ form_end(trickForm) }}
            </div>
        </div>
    </section>




    </html>
{% endblock %}
