{# trick/new.html.twig #}


{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Créer une figure</h1>
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <form id="trickForm" action="{{ path('app_add') }}" method="post" enctype="multipart/form-data">
                {{ form_start(form) }}
                <div class="card rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="card-body">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-10">
                                <div class="mb-3">
                                    {{ form_label(form.name, 'Nom de la figure', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom de figure'}}) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_label(form.idCategory, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.idCategory, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                </div>

                                <div id="videos-container">
                                    {{ form_errors(form.videos) }}
                                    <h2>Vidéos</h2>
                                    {% for videoField in form.videos %}
                                        <div class="form-group">
                                            {{ form_widget(videoField, {'attr': {'class': 'form-control'}}) }}
                                            {% if loop.index > 1 %}
                                                <button type="button" class="btn btn-danger remove-video">Supprimer</button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" id="add-video" class="btn btn-primary mt-2">Ajouter une vidéo</button>

                                <div class="mb-3">
                                    {{ form_label(form.images, 'Images', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.images, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="mb-3">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        {{ button_label|default('Enregistrer') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const videosContainer = document.getElementById('videos-container');
            const addVideoButton = document.getElementById('add-video');

            addVideoButton.addEventListener('click', function () {
                const videoIndex = videosContainer.querySelectorAll('.form-group').length;
                const newVideoField = `
                    <div class="form-group">
                        <input type="text" id="trick_videos_${videoIndex}_video" name="trick[videos][${videoIndex}][video]" class="form-control" placeholder="Entrez l'URL de la vidéo">
                        <button type="button" class="btn btn-danger remove-video">Supprimer</button>
                    </div>
                `;
                videosContainer.insertAdjacentHTML('beforeend', newVideoField);
            });

            // Event delegation to handle remove video button clicks
            videosContainer.addEventListener('click', function (event) {
                if (event.target.classList.contains('remove-video')) {
                    event.target.closest('.form-group').remove();
                }
            });
        });
    </script>

{% endblock %}